@model Legato.ViewModels.ComposeViewModel
@{
	ViewBag.Title = "Compose Message";
	ViewBag.revNum = Legato.Current.RevNumber();
}

@section ScriptContentAtEndOfBody {
<script src="@Url.Content("~/static/js/jquery.validate.min.js")?@ViewBag.revNum" type="text/javascript"></script>
<script src="@Url.Content("~/static/js/jquery.validate.unobtrusive.min.js")?@ViewBag.revNum" type="text/javascript"></script>

<script>

(function () {
				var converter1 = Markdown.getSanitizingConverter();
				var editor1 = new Markdown.Editor(converter1);
				editor1.run();
})();

</script>
}

	<div class="row">
		<div class="span12">
		    <ul class="breadcrumb">
		        <li><a href="@Url.Action("List", "Messages")"><i class='icon-envelope'></i> Messages</a> <span class="divider">/</span></li>
		        <li class="active">Compose</li>
		    </ul>
	    </div>
	</div>

	<div class="page-header">
		<h1>Compose <small>Write a new message</small></h1>
	</div>
<div class="row">
<div class="span12">
@using (Html.BeginForm("Compose", "Messages", FormMethod.Post, new { @class="form-horizontal" }))
{
	@Html.ValidationSummary(true)
	<fieldset>
			<div class="control-group">
				@Html.LabelFor(model => model.Subject, new { @class = "control-label"})
			<div class="controls">
				@Html.TextBoxFor(model => model.Subject, new { @class = "input-xlarge" })
				<p class="help-block">Please enter the message subject.</p>
				@Html.ValidationMessageFor(model => model.Subject)
			</div></div>
			
			<div class="clearfix">
				@Html.LabelFor(model => model.UserName, new { @class = "control-label"})
			<div class="controls">
				@Html.TextBoxFor(model => model.UserName, new { @class = "input-xlarge" })
				<p class="help-block">Please enter the name of the user to whom you want to send this message.</p>
				@Html.ValidationMessageFor(model => model.UserName)
			</div></div>

			<div class="clearfix">
				@Html.LabelFor(model => model.Markdown, new { @class = "control-label"})
			<div class="controls wmd-panel">
				@Html.ValidationMessageFor(model => model.Markdown)
				<div id="wmd-button-bar" class="wmd-panel"></div>
				@Html.TextAreaFor(model => model.Markdown, new { @class = "wmd-input input-xlarge span7", rows = "8", id = "wmd-input" })
				<div id="wmd-preview" class="wmd-preview wmd-panel span7" style="margin-left:0;"></div>
			</div></div>

			<div class="form-actions">
			    <input type="submit" class="btn btn-primary btn-large" value="Send">&nbsp;<button type="reset" onclick="window.history.go(-1);" class="btn btn-inverse">Cancel</button>
		    </div>
		    </fieldset>
		
}
		</div>
	  </div> <!-- /row -->