@model IEnumerable<Legato.Models.Conversation>

@{
	ViewBag.Title = "Conversations";
}

<div class="row">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("List", "Messages")"><i class='icon-envelope'></i> Messages</a> <span class="divider">/</span></li>
            <li class="active">Conversations</li>
        </ul>
    </div>
</div>
<div class="page-header">
    <h1>Conversations <small>Open threads</small> &nbsp; @Html.ActionLink("Create New", MVC.Messages.Compose(), new { @class = "btn btn-primary btn-large pull-right" })</h1>
</div>
<div id="conversations">
@foreach(var c in Model)
{
	<div class="row">
        <div class="span12">
	        <div class="media-box thread" id="thread-@c.ConversationID">
		        <div class="media">
		            <div class="media-body">
                        <a href="@Url.Action("Thread", new { id = c.ConversationID })" title="@c.Subject"><h3 class="title">@c.Subject <small class="author">with 
                        @if (ViewBag.userID == c.User1)
			            {
				            <text>@c.aspnet_User1.UserName</text>
			            }
			            else
			            {
				            <text>@c.aspnet_User.UserName</text>
			            }
                        </small></h3></a>
	                    <p class="datePublish"><span class="timeago" title="@c.LastMessageDate">@c.LastMessageDate</span></p>
		            </div>
                </div>
            </div>
	    </div>
    </div>
}
</div>
