@model Legato.ViewModels.ThreadViewModel

@{
	ViewBag.Title = Model.Conversation.Subject;
	ViewBag.revNum = Legato.Current.RevNumber();
}

@section ScriptContentAtEndOfBody {
<script src="@Url.Content("~/static/js/jquery.validate.min.js")?@ViewBag.revNum" type="text/javascript"></script>
<script src="@Url.Content("~/static/js/jquery.validate.unobtrusive.min.js")?@ViewBag.revNum" type="text/javascript"></script>
<script src="@Url.Content("~/static/js/jquery.raty.min.js")?@ViewBag.revNum" type="text/javascript"></script>

<script>

(function () {
				var converter1 = Markdown.getSanitizingConverter();
				var editor1 = new Markdown.Editor(converter1);
				editor1.run();
})();

$('a.flag-message').click(function (e) {
    e.preventDefault();
    var messageid = $(this).attr('mid');
    $.post('@(Url.Action("Reply"))', { id: messageid }, function (data) {
        $(this).append('<div class="alert-message warning" data-alert> <a class="close" href="#">×</a><p><strong>Flagged!</strong> You just flagged that message - thanks!</p></div>');
        $('.alert-message').alert();
    });
    return false;
});


</script>
}

<section id="thread">
  <div class="page-header">
	<h1>@Model.Conversation.Subject <small>Conversation with: @Model.OtherUser.UserName</small></h1>
  </div>
<div id="messages">
@foreach(var m in Model.Messages)
{
	<div class="row">
	<div class="message" id="message-@m.MessageID">
		<div class="clearfix span4">
			<p><em>@m.aspnet_User.UserName</em></p>
			<p><span class="timeago" title="@m.Date">@m.Date</span></p>
			@if(m.SenderID == Model.OtherUser.UserId)
			{
				<a href="#" class="flag-message" id="flag-@m.MessageID" mid="@m.MessageID">Flag as spam</a>
			}
		</div>
		<div class="input colborder span12">
			<blockquote>@Legato.Helpers.HtmlUtilities.RenderHtmlInRazor(m.Html)</blockquote>
		</div>
	</div>
	</div>
	<hr />
}
</div>
<div id="reply">
<div class="row">
<div class="span16">
@using (Html.BeginForm("Reply","Messages"))
{
	@Html.ValidationSummary(true)
	<fieldset>
			<legend>Reply</legend>
			@Html.HiddenFor(model => model.ThreadID)
			
			<div class="clearfix">
				@Html.LabelFor(model => model.Markdown)
			<div class="input wmd-panel">
				@Html.ValidationMessageFor(model => model.Markdown)
				<div id="wmd-button-bar" class="wmd-panel"></div>
				@Html.TextAreaFor(model => model.Markdown, new { @class = "wmd-input", id = "wmd-input" })
				<div id="wmd-preview" class="wmd-panel"></div>
			</div></div>
			
	</fieldset>
		  <div class="actions well">
			<input type="submit" class="btn primary large" value="Reply">&nbsp;<button type="reset" onclick="window.history.go(-1);" class="btn">Cancel</button>
		  </div>
		
}
</div>
		</div>
	  </div> <!-- /row -->
	  
	</section>