@{
	ViewBag.Title = "Home Page";
	ViewBag.revNum = Legato.Current.RevNumber();
}

@section BetweenHeaderAndContent {
<div class="hero-unit hero-section" id="heroheader">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="ac">Connecting instruments with musicians.</h1>
			</div>
		</div>
		<ul class="thumbnails" style="margin-top:+20px;">
			<li class="span4">
				<a href="@Url.Action("Map", "Instruments")" class="thumbnail">
					<img src="http://i.imgur.com/TVWNE.png" alt="" /> <!-- http://placehold.it/360x268 -->
				</a>
                <h3 class="ac"><a href="@Url.Action("Map", "Instruments")">Browse the map.</a></h3>
			</li>
			<li class="span4">
				<a href="@Url.Action("Map", "Instruments")" class="thumbnail">
					<img src="http://i.imgur.com/JEY9p.png" alt="" />
				</a>
                <h3 class="ac"><a href="@Url.Action("Map", "Instruments")">Find an instrument.</a></h3>
			</li>
			<li class="span4">
				<a href="@Url.Action("Submit", "Instruments")" class="thumbnail">
					<img src="http://i.imgur.com/ZeoiA.png" alt="" />
				</a>
                <h3 class="ac"><a href="@Url.Action("Submit", "Instruments")">Submit an instrument.</a></h3>
			</li>
		</ul>
		<div class="row">
			<div class="span5 offset4 ac">
				@Html.Partial("SocialButtons", "class=ac style=padding-top:1em;")
			</div>
		</div>
	</div>
</div>
}

<div class="row">
	<div class="span6 ac">
		<h1>Traveling?</h1>
		<h2>Find an instrument to play on.</h2>
		<a class="btn btn-success btn-xlarge" href="@Url.Action("Map", "Instruments")" id="viewBtn">View Instruments</a>
	</div>
	<div class="span6 ac">
		<h1>Found or own an instrument?</h1>
		<h2>Submit it to Legato.</h2>
		<a class="btn btn-primary btn-xlarge" href="@Url.Action("Submit", "Instruments")" id="view2Btn">Add Instruments</a>
	</div>
</div>

<hr/>
<div class="row" id="benefits">
	<div class="span6">
		<div class="row">
			<div class="span6">
				<h3><i class="icon-search icon-large pull-left"></i> Search instruments</h3>
                
				<p>Are you traveling to a new place, but need to practice every day? Or do you miss playing when away from home? <b>See what instruments are available where you travel</b> - you can find a shared instrument, such as a piano in a bar, the lobby of a hotel, or the library, or one in a kind home where you can play.</p>
				<p>To get started, enter an address or an instrument type into @Html.ActionLink("the map", "Map", "Instruments").</p>

			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-info-sign icon-large pull-left"></i> Read reviews</h3>
                
				    <p>Read what other people thought of an instrument. Once you find an instrument on the map, click on it to open its listing page. Then, browse the reviews section to see how others <b>rated the instrument</b> out of 5 stars and the descriptions they wrote.</p>
                
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-music icon-large pull-left"></i> Play!</h3>
                
                    <p>You can <b>arrange a playing time</b> as soon as you find a convenient instrument. On the instrument's listing page, its location is listed, and its description indicates when it is available.</p>
				    <p>If you choose to play on an instrument that is not available to the public, such as a piano in someone's home, click the <code>Message Owner</code> button on the instrument's listing page. This lets you get in touch with the person who manages the instrument to arrange a convenient playing time.</p>
                
			</div>
				
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-star icon-large pull-left"></i> Add a review</h3>
			
			
				
				<p>After you play on an instrument, add a review to its listing. <b>Let people know what you think</b> by giving it a rating out of 5 stars and by writing a short description.</p>
			
            </div>
		</div>
	</div>
	<div class="span6">
		<div class="row">
			<div class="span6">
				<h3> <i class="icon-plus-sign icon-large pull-left"></i> Submit instruments</h3>
				<p>Do you see <b>an available public instrument</b>, like a piano in a hotel or in a restaurant? Or you do you have <b>an instrument at home</b> that is rarely played, and you want to advertise it to earn some extra cash or karma?</p>
				<p>Those instruments can be used to practice by @Html.ActionLink("adding them to Legato Network", "Submit", "Instruments").</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-bell icon-large pull-left"></i> Public instruments</h3>
				<p>Legato Network accepts listings of public instruments, such as <b>pianos in bars</b> or in hotel lobbies. To get started, @Html.ActionLink("submit one as a 'a public instrument'", "Submit", "Instruments").</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-money icon-large pull-left"></i> Private instruments</h3>
				<p>We also accept listings of private instruments. Do you have <b>an instrument at home</b> that is not played often? @Html.ActionLink("Add it to Legato Network under the category 'my own instrument'", "Submit", "Instruments"). Others will find it and contact you to arrange a playing time. You can charge a playing fee to <b>earn some extra cash</b>, too!</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-check icon-large pull-left"></i> It's safe</h3>
				<p>Legato Network takes personal privacy into great consideration. When listing an instrument that you own, you can choose to <b>hide your full address</b> and only show your region instead. After choosing the 'My own instrument' category when adding an instrument, @Html.ActionLink("select 'Display neighborhood only' to activate this feature", "Submit", "Instruments").</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<h3><i class="icon-gift icon-large pull-left"></i> Completely free</h3>
				<p>On Legato Network, <b>registering and listing is 100% free</b> of charge. All it takes is 30 seconds!</p>
			</div>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span12 ac">
		<h1 style="font-size:60px;font-family: 'Righteous', sans-serif;">@ViewBag.insCount</h1>
		<h3 style="margin-top: +20px;">instruments submitted</h3>
        <h4>
		<a href="@Url.Action("Map", "Instruments")" title="Browse the map">Browse the map </a>
		or
		<a href="@Url.Action("About", "Home")" title="Learn more">learn more</a>
		&rarr;
	</h4>
	</div>
</div>