@model Legato.ViewModels.OpenIdRegistrationViewModel
@using MvcReCaptcha.Helpers;
@{
	ViewBag.Title = "Register";
}

<div class="page-header">
	<h1>Create an Account</h1>
</div>
<div class="row">
    <div class="span12">
			<p>We haven't seen that OpenID before. To create a new account, please fill out the form below.</p>
			<p>But if you have registered on this site before, please @Html.ActionLink("return to the login page","OpenidLogin","Account") and enter the OpenID you used before. If you don't remember the OpenID you used, @Html.ActionLink("click here","RecoverOpenID","Account").</p>
			
			@using (Html.BeginForm("OpenidRegisterFormSubmit", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
			{
				@Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.")
					<fieldset>
						<legend>Account Information</legend>
						<div class="control-group">
							@Html.LabelFor(m => m.Nickname, new { @class = "control-label" })
							<div class="controls">
							@Html.TextBoxFor(m => m.Nickname, new { @class = "input-xlarge" })
							@Html.ValidationMessageFor(m => m.Nickname)
						</div></div>
						<div class="control-group">
							@Html.LabelFor(m => m.FullName, new { @class = "control-label" })
							<div class="controls">
							@Html.TextBoxFor(m => m.FullName, new { @class = "input-xlarge" })
							@Html.ValidationMessageFor(m => m.FullName)
						</div></div>
						<div class="control-group">
							@Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
							<div class="controls">
							@Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-xlarge" })
							@Html.ValidationMessageFor(m => m.EmailAddress)
						</div></div>
						<div class="control-group">
							@Html.LabelFor(m => m.ConfirmEmailAddress, new { @class = "control-label" })
							<div class="controls">
							@Html.TextBoxFor(m => m.ConfirmEmailAddress, new { @class = "input-xlarge" })
							@Html.ValidationMessageFor(m => m.ConfirmEmailAddress)
						</div></div>
						<div class="control-group">
							@Html.LabelFor(m => m.AboutMe, new { @class = "control-label" })
							<div class="controls">
							@Html.TextAreaFor(m => m.AboutMe, new { @class = "input-xlarge span5", rows="8" })
							@Html.ValidationMessageFor(m => m.AboutMe)
						</div></div>
						<div class="control-group">
							<label class="control-label" for="CAPTCHA">Verification word(s)</label>
							<div class="controls">
							@(new HtmlString(Html.GenerateCaptcha())) <!-- html encoding bugfix http://stackoverflow.com/questions/3665982/decoding-html-in-asp-net-mvc-3/3668620#3668620 -->
                            <p class="help-block">Please enter the verification words.</p>
						</div></div>
						@Html.HiddenFor(m => m.OpenIdClaim)
						@Html.HiddenFor(m => m.ReturnURL)
						@Html.AntiForgeryToken()
                        <div class="form-actions">
							<input type="submit" class="btn btn-success btn-large" value="Register" />
							<a href="@Url.Content("~")" class="btn btn-inverse">Cancel</a>
						</div>
					</fieldset>
			}
	</div>
</div>