@model Legato.ViewModels.SearchResultsModel
           @using Legato.Helpers;

@{
	ViewBag.Title = "\""+Html.Encode(Model.Query.Trim())+"\" - Search Results";
}

<section id="search-results">
	<div class="page-header">
	<h1>Search Results <small>@Html.Encode(Model.Query.Trim())</small></h1>
  </div>
	  <!-- Example row of columns -->
	  <div class="row">
		<div class="span16">
	<div id="results">
	@foreach (var item in Model.Results)
	  {
	  <div id="@item.ResultPost.GlobalPostID1">
		  <h3 class="title">@Html.ActionLink(string.IsNullOrWhiteSpace(item.ResultPost.Title) ? "Instrument" : Html.Encode(item.ResultPost.Title), item.ResultPost.DetailsRoute) <small class="author">by @item.ResultPost.aspnet_User.UserName</small></h3>
	      <p class="datePublish">published: <span class="timeago" title="@item.ResultPost.SubmissionDate.GetValueOrDefault(DateTime.Now)">@item.ResultPost.SubmissionDate.GetValueOrDefault(DateTime.Now)</span></p>
		  <blockquote>@HtmlUtilities.RenderHtmlInRazor(item.HighlightedHTML)</blockquote>
	  </div>
     <hr />

	}
    @if (Model.Results.Count() == 0)
    {
        <h3>No results. <small>Try again!</small></h3>
    }
	</div>
		</div>
	  </div>
	</section>