@model Legato.ViewModels.SearchResultsModel

@{
	ViewBag.Title = "\""+Html.Encode(Model.Query.Trim())+"\" - Search Results";
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">search</span></p>
	  <ul>
		<li><a href="@Url.Action("Index", "Search")" class="act" title="start search">start search</a>
			<ul>
				<li>@Html.Encode(Model.Query.Trim())</li>
			</ul>
		</li>
	  </ul>
	</div>
	
	<!-- Left section --></section>


<section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Search Results: <i>@Html.Encode(Model.Query.Trim())</i></h1>
		  <article class="networkBox">
			<section class="contentMain">
	<div id="results">
	@foreach (var item in Model.Results)
	  {
	  <div id="@item.ResultPost.GlobalPostID1">
		  <div class="title">@Html.ActionLink(Html.Encode(item.ResultPost.Title),item.ResultPost.DetailsRoute)</div>
		  <div class="author">@Html.Encode(item.ResultPost.aspnet_User.UserName)</div>
		  <div class="datePublish">
			  published on
			  @item.ResultPost.SubmissionDate.GetValueOrDefault(DateTime.Now).ToString("{0:g}")</div>
		  <div class="highlightedText">@item.HighlightedHTML</div>
	  </div>

	}
	</div>
	<p>
		@Html.ActionLink("Search Again", "Index")
	</p>
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>