@model Legato.ViewModels.SearchResultsModel

@{
    ViewBag.Title = "\""+Html.Encode(Model.Query.Trim())+"\" - Search Results";
}
	<h2>Search Results: <i>@Html.Encode(Model.Query.Trim())</i></h2>
	<div id="results">
	@foreach (var item in Model.Results)
	  {
	  <div id="@item.ResultPost.GlobalPostID1">
		  <div class="title">@Html.ActionLink(Html.Encode(item.ResultPost.Title),item.ResultPost.DetailsRoute)</div>
		  <div class="author">@Html.Encode(item.ResultPost.aspnet_User.UserName)</div>
		  <div class="datePublish">
			  published on
			  @item.ResultPost.SubmissionDate.GetValueOrDefault(DateTime.Now).ToString("{0:g}")</div>
		  <div class="highlightedText"><%=item.HighlightedHTML %></div>
		  <!--<div class="tags">
			  tags:
			  <i>@foreach (var tag in item.ResultPost.PostTags.ToList())
				{
            @Html.Encode(tag.Tag.TagName.Trim())
			  }</i></div>-->
	  </div>

	}
	</div>
	
	<p>
		@Html.ActionLink("Search Again", "Index")
	</p>