@model Legato.ViewModels.SearchResultsModel

@{
	ViewBag.Title = "\""+Html.Encode(Model.Query.Trim())+"\" - Search Results";
}

<section id="search-results">
	<div class="page-header">
	<h1>Search Results <small>@Html.Encode(Model.Query.Trim())</small></h1>
  </div>
	  <!-- Example row of columns -->
	  <div class="row">
		<div class="span16">
	<div id="results">
	@foreach (var item in Model.Results)
	  {
	  <div id="@item.ResultPost.GlobalPostID1">
		  <div class="title">@Html.ActionLink(Html.Encode(item.ResultPost.Title),item.ResultPost.DetailsRoute)</div>
		  <div class="author">@Html.Encode(item.ResultPost.aspnet_User.UserName)</div>
		  <div class="datePublish">
			  published on
			  @item.ResultPost.SubmissionDate.GetValueOrDefault(DateTime.Now).ToString("{0:g}")</div>
		  <div class="highlightedText">@item.HighlightedHTML</div>
	  </div>

	}
	</div>
		</div>
	  </div>
	</section>