@{
	ViewBag.Title = "Change Email";
}
<section id="content">
<div class="page-header">
		<h1>Change Your Email</h1>
	</div>
	<div class="row">
	<div class="span16">
	<p>
		Use the form below to change your email address.
	</p>
	@Html.ValidationSummary("Email address change was unsuccessful. Please correct the errors and try again.")
	@using (Html.BeginForm())
	   {
	<div>
		<fieldset>
			<legend>Account Information</legend>
			<p>Current email address: <b>@ViewData["current"]</b></p>
			<div class="clearfix">
				<label for="NewEmail">
					New email:</label>
				<div class="input">
				@Html.TextBox("NewEmail")
				@Html.ValidationMessage("NewEmail")
				</div>
			</div>
			<div class="clearfix">
				<label for="ConfirmEmail">
					Confirm new email:</label>
				<div class="input">
				@Html.TextBox("ConfirmEmail")
				@Html.ValidationMessage("ConfirmEmail")
			</div></div>
			<p>
				<input type="submit" class="btn primary large" value="Change Email" />
			</p>
		</fieldset>
	</div>
	}

	
</div>
</div>
</section>

