@model Legato.Controllers.AdminController.UserInformationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>GetUserById</title>
</head>
<body>
    <fieldset>
        <legend>UserInformationViewModel</legend>
    
        <div class="display-label">ReinstateDate</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ReinstateDate)
        </div>

        <div>
        @Html.DisplayFor(model=>model.Suspensions)
        </div>
        <div>
        @Html.DisplayFor(model=>model.User)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
