@model Legato.ViewModels.ReadListingViewModel

@{
	ViewBag.Title = Model.Instrument.Title;
}

<h2>@Model.Instrument.Brand @Model.Instrument.Model (@Model.Instrument.InstrumentType.Name)</h2>
<h3><i>@Model.Instrument.StreetAddress</i> (@Model.Instrument.VenueName)</h3>
<h4>For @Model.Instrument.ListingClass</h4>
@if (Model.Instrument.Price.HasValue)
{
<text><h4>@Model.Instrument.Price.Value <i>per</i> @Html.Encode(Model.Instrument.TimeSpanOfPrice)</h4></text>
}
<div id="averageRating">Average Rating: @Model.Instrument.AverageOverallRating</div>
<p>Latest use: <span class="timeago" title="@Model.Instrument.LatestUseDate">@Model.Instrument.LatestUseDate</span></p>
<p>Latest review: <span class="timeago" title="@Model.Instrument.LatestReviewRevisionDate">@Model.Instrument.LatestReviewRevisionDate</span></p>
<div id="minimap"></div>
<div id="actions">@Html.Action(MVC.Instruments.UserLinksForListing(Model.Instrument.InstrumentID))</div>
<p class="userbox">
	by @Model.Instrument.aspnet_User.UserName<br />
	submitted <span class="timeago" title="@Model.Instrument.SubmissionDate">@Model.Instrument.SubmissionDate</span>
</p>
<hr />
<div id="reviews">
<h2>Reviews (@Model.Instrument.NumberOfReviews)</h2>
@if (Model.Reviews == null || Model.Reviews.Count() < 1)
{
	<h2 class="alt centered">No reviews yet. @Html.ActionLink("Add one now?", MVC.Instruments.Review(Model.Instrument.InstrumentID))</h2>
}
else
{
	foreach (var r in Model.Reviews)
	 {
		<div class="review" id="review-@r.ReviewID">
			@r.Revisions.First()
			<div class="ratings">
				<p><b>Ratings:</b></p>
					<label for="rate-general-@r.ReviewID">General: </label><div id="rate-general-@r.ReviewID"></div>
			</div>
			<div class="message">
				@r.Revisions.First().MessageHTML
			</div>
			<div class="details">
				<p>Last used: <span class="timeago" title="@r.Revisions.First().LastUseDate">@r.Revisions.First().LastUseDate</span></p>
			</div>
			<div class="actions">
				@Html.Action(MVC.Instruments.UserLinksForReview(r.ReviewID))
			</div>
			<p class="userbox">
				by @r.aspnet_User.UserName<br />
				submitted <span class="timeago" title="@r.SubmissionDate">@r.SubmissionDate</span>
				@if(r.Revisions.Count()>1) { <text><br />edited @r.Revisions.Count() times</text> }
			</p>
		</div>
	 }
	 if (Model.IsFilteredToIndividualReview.GetValueOrDefault(false))
	 {
		<p>Only one review currently being displayed. @Html.ActionLink("Show the rest?",MVC.Instruments.Individual(Model.Instrument.InstrumentID,Model.Instrument.UrlSlug))</p>
	 }
	 <p>@Html.ActionLink("Add a Review",MVC.Instruments.Review(Model.Instrument.InstrumentID))</p>
}

</div>

@section ScriptContentAtEndOfBody {
<script src="@Url.Content("~/static/js/jquery.raty.min.js")" type="text/javascript"></script>

<script>

$('#averageRating').raty({
  cancel:     false,
  readOnly:   true,
  start:  @Model.Instrument.AverageOverallRating,
  size: 24,
  path:       '/static/images/raty/'
});

// Star ratings in each review:

@foreach(var r in Model.Reviews)
{
	<text>$('#rate-general-@r.ReviewID').raty({
  cancel:     false,
  readOnly:   true,
  start:  @r.Revisions.First().RatingGeneral,
  path:       '/static/images/raty/'
});
</text>
}

</script>
}