@model Legato.ViewModels.ReadListingViewModel

@{
	ViewBag.Title = Model.Instrument.Title;
	ViewBag.revNum = Legato.Current.RevNumber();
	ViewBag.ReviewsExist = !(Model.Reviews == null || Model.Reviews.Count() < 1);
}

@section HeadContent {

<style type="text/css">
	  /* Override some defaults */
	  html, body {
		background-color: #eee;
	  }
	  body {
		padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	  }

	  /*.container {
		width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
	  /*}

	  /* The white background content wrapper */
	  .container > .content {
		background-color: #fff;
		padding: 20px;
		margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
		-webkit-border-radius: 0 0 6px 6px;
		   -moz-border-radius: 0 0 6px 6px;
				border-radius: 0 0 6px 6px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
		   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
				box-shadow: 0 1px 2px rgba(0,0,0,.15);
	  }

	  /* Page header tweaks */
	  .page-header {
		background-color: #f5f5f5;
		padding: 20px 20px 10px;
		margin: -20px -20px 20px;
	  }

	  /* Give a quick and non-cross-browser friendly divider */
	  .content .s4divider {
		margin-left: 0;
		padding-left: 19px;
		border-left: 1px solid #eee;
	  }

	  .topbar .btn {
		border: 0;
	  }

	</style>

}

<div class="content">
	<div class="page-header">
		<div class="row">
			<h1 class="span12">@Model.Instrument.InstrumentType.Name <small>at <em>@Model.Instrument.VenueName</em> (@Model.Instrument.StreetAddress)</small></h1>
			@if (ViewBag.ReviewsExist)
   {
				<div id="averageRating" class="span4 pull-right"></div>
   }
		</div>
		<div class="row">
			<div class="span12">
				@if (Model.Instrument.Price.HasValue)
	{
					<text><p><b>Price: </b>@Math.Round(Model.Instrument.Price.Value, 2, MidpointRounding.AwayFromZero) <i>per</i> @Html.Encode(Model.Instrument.TimeSpanOfPrice)</p></text>
    }
				<div class="description">
					<blockquote>@(Legato.Helpers.HtmlUtilities.RenderHtmlInRazor(Model.Instrument.HTML))</blockquote>
				</div>
				<div id="actions">@Html.Action("UserLinksForListing", new { instrumentID = Model.Instrument.InstrumentID })</div>
			</div>
			<div class="span4 pull-right s4divider">
				<p>@Html.ActionLink("Add a Review", "Review", new { instrumentID = Model.Instrument.InstrumentID }, new { @class = "btn primary large" })</p>
				<div class="userbox box">
					<dl>
                        <dt>by @(Model.Instrument.aspnet_User.UserName)</dt>
					    <dd>submitted <span class="timeago" title="@Model.Instrument.SubmissionDate">@Model.Instrument.SubmissionDate</span></dd>
					    @if (Model.Instrument.LatestReviewRevisionDate.HasValue)
                        {
                            <dd>last reviewed <span class="timeago" title="@Model.Instrument.LatestReviewRevisionDate">@Model.Instrument.LatestReviewRevisionDate</span></dd>
                        }               
                    </dl>
				</div>
			</div>
		</div> <!--- //row -->
	</div> <!--- /header -->
	<div class="row">
		<div class="span12">
			<div class="row" style="margin-bottom: 20px;">
				<h2 class="span8">Reviews (@Model.Instrument.NumberOfReviews)</h2>
			</div>
			@if (!ViewBag.ReviewsExist)
   {
				<p>No reviews yet. @Html.ActionLink("Add one now?", "Review", new { instrumentID = Model.Instrument.InstrumentID })</p>
   }
   else
   {
	   foreach (var r in Model.Reviews)
	   {
					<div class="review container" id="review-@r.ReviewID">
						<div class="ratings">
							<div id="rate-general-@r.ReviewID"></div>
						</div>
						<div class="message span12">
							<blockquote>@(Legato.Helpers.HtmlUtilities.RenderHtmlInRazor(r.Revisions.First().MessageHTML))</blockquote>
						</div>
						<div class="row">
							<div class="span9">
								<div class="details">
								</div>
								<div class="actionLinks">
									@Html.Action("UserLinksForReview", new { reviewID = r.ReviewID })
								</div>
							</div>
							<div class="span3 s4divider">
								<div class="userbox box">
									<dl><dt>by @r.aspnet_User.UserName</dt>
									<dd>submitted <span class="timeago" title="@r.SubmissionDate">@r.SubmissionDate</span></dd>
									@if (r.Revisions.Count() > 1)
									{
										<text><dd>edited @r.Revisions.Count() times</dd></text>
									}
									</dl>
								</div>
							</div>
						</div>
					</div>
					<hr/>
	   }
	   if (Model.IsFilteredToIndividualReview.GetValueOrDefault(false))
	   {
					<p>Only one review currently being displayed. @Html.ActionLink("Show the rest?", "Individual", new { instrumentID = Model.Instrument.InstrumentID, slug = Model.Instrument.UrlSlug })</p>
	   }
				<p>@Html.ActionLink("Add a Review", "Review", new { instrumentID = Model.Instrument.InstrumentID })</p>
   }
		</div>
		<div class="span4 s4divider">
			<a href="http://maps.google.com/?q=@(Model.Instrument.Lat),@(Model.Instrument.Long)"><img class="right top" style="float: right; width: 200px; height: 200px;" src="http://maps.googleapis.com/maps/api/staticmap?size=200x200&maptype=roadmap\&markers=size:mid%7Ccolor:red%7C@(Model.Instrument.Lat),@(Model.Instrument.Long)&sensor=false&zoom=14" /></a>
		</div>
	</div>
</div>

@section ScriptContentAtEndOfBody {
<script src="@Url.Content("~/static/js/jquery.raty.min.js")?@ViewBag.revNum" type="text/javascript"></script>

<script>

$('#averageRating').raty({
  cancel:     false,
  readOnly:   true,
  start:  @(Model.Instrument.AverageOverallRating),
  size: 24,
  path:       '/static/images/raty/big/',
  revnum: '@(ViewBag.revNum)'
});

// Star ratings in each review:

@foreach (var r in Model.Reviews)
{
	<text>$('#rate-general-@r.ReviewID').raty({
  cancel:     false,
  readOnly:   true,
  start:  @(r.Revisions.First().RatingGeneral),
  path:       '/static/images/raty/',
  revnum: '@(ViewBag.revNum)'
});
</text>
}

</script>
}