@model Legato.ViewModels.ReviewCreateViewModel

@{
    ViewBag.Title = "Review";
    ViewBag.revNum = Legato.Current.RevNumber();
}

<h2>Review</h2>

<script src="@Url.Content("~/static/js/jquery.validate.min.js")?@ViewBag.revNum" type="text/javascript"></script>
<script src="@Url.Content("~/static/js/jquery.validate.unobtrusive.min.js")?@ViewBag.revNum" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ReviewCreateViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.InstrumentID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InstrumentID)
            @Html.ValidationMessageFor(model => model.InstrumentID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
