@{
	ViewBag.Title = "About Us";
	ViewBag.revNum = Legato.Current.RevNumber();
    var revNum = ViewBag.revNum;
	ViewBag.sectionNum = 0;
	ViewBag.countNum = 0;
}
	@helper NewSection()
	{
		/* see http://weblogs.asp.net/jgalloway/archive/2011/03/23/comparing-mvc-3-helpers-using-extension-methods-and-declarative-razor-helper.aspx and http://weblogs.asp.net/scottgu/archive/2011/05/12/asp-net-mvc-3-and-the-helper-syntax-within-razor.aspx*/
		ViewBag.sectionNum++;
		ViewBag.countNum = 0;
	}
	@helper NewQ()
	{
		ViewBag.countNum++;
	}
	@helper GetNum()
	{
		var x = "f."+ViewBag.sectionNum+"."+ViewBag.countNum;
		@x
	}
	@helper DisplayQA(string question, string answer)
	{
		@NewQ()
		<h4 id="@GetNum()">@question</h4>
		<p>@answer</p>
	}
	@helper DisplaySection(string title)
	{
		@NewSection() <h2 id="@GetNum()">@title</h2>
	}
	@helper EndSection()
	{
		<text><hr/></text>
	}

@section HeadContent {
	<link href="/static/css/bootstrap.additions.css?@revNum" rel="stylesheet">
	    <style type="text/css">
      body {
        padding-top: 0px;
      }
    </style>
}

@section BetweenHeaderAndContent {

<!-- Masthead (blueprinty thing)
    ================================================== -->
    <header class="jumbotron masthead" style="position:relative; top: 0px; left: 0px; width=100%; " id="overview">
      <div class="inner">
        <div class="container">
          <h1>Legato Network</h1>
          <p class="lead">
            Are you looking for an instrument in a new place? Do you have an instrument sitting around, unused?<br />That's where Legato Network comes in.<br />
          </p>
          <p>&nbsp;</p>
        </div><!-- /container -->
      </div>
    </header>

}

      <!-- About Bootstrap
================================================== -->
<!--<section id="about">
  <div class="page-header">
    <h1>About Legato <small>Brief history, browser support, and more</small></h1>
  </div>
  <div class="row">
    <div class="span-one-third">
      <h4>History</h4>
      <p>Engineers at Twitter have historically used almost any library they were familiar with to meet front-end requirements. Bootstrap began as an answer to the challenges that presented. With the help of many awesome folks, Bootstrap has grown significantly.</p>
      <p>Read more on <a href="https://dev.twitter.com/blog/bootstrap-twitter">dev.twitter.com &rsaquo;</a></p>
      <p>
        <a href="http://twitter.com/twbootstrap" class="twitter-follow-button">Follow @@twbootstrap</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </p>
    </div>
    <div class="span-one-third">
      <h4>Browser support</h4>
      <p>Bootstrap is tested and supported in major modern browsers like Chrome, Safari, Internet Explorer, and Firefox.</p>
      <img src="assets/img/browsers.png" alt="Tested and supported in Chrome, Safari, Internet Explorer, and Firefox">
      <ul>
        <li>Latest Safari</li>
        <li>Latest Google Chrome</li>
        <li>Firefox 4+</li>
        <li>Internet Explorer 7+</li>
        <li>Opera 11</li>
      </ul>
    </div>
    <div class="span-one-third">
      <h4>What's included</h4>
      <p>Bootstrap comes complete with compiled CSS, uncompiled, and example templates.</p>
      <ul>
        <li><a href="./javascript.html">Javascript plugins</a></li>
        <li>All original .less files</li>
        <li>Fully <a href="../bootstrap.css">compiled</a> and <a href="../bootstrap.min.css">minified</a> CSS</li>
        <li>Complete styleguide documentation</li>
        <li>Three example pages with different layouts</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h4>Quick-start examples</h4>
      <p>Need some quick templates? Check out these basic examples we've put together:</p>
      <ul class="media-grid">
        <li>
          <a href="../examples/hero.html"><img src="assets/img/example-diagram-01.png" alt="Simple three-column layout with hero unit"></a>
        </li>
        <li>
          <a href="../examples/fluid.html"><img src="assets/img/example-diagram-02.png" alt="Fluid layout with static sidebar"></a>
        </li>
        <li>
          <a href="../examples/container-app.html"><img src="assets/img/example-diagram-03.png" alt="Simple hanging container for apps"></a>
        </li>
      </ul>
    </div>
  </div>
</section>
 -->
<section id="faq">

	<div class="page-header">
		<h1>FAQ <small>Frequently asked questions</small></h1>
	</div>
	@DisplaySection("General")
		@DisplayQA("What's the point of Legato Network?", "Legato Network is here to connect musicians with instruments. If you're travelling or are somewhere without your instrument, now you can find one to play on. These instruments can either be directly available to the public, such as if they're in a bar, or they can be privately owned and listed. If you have an instrument at home, you can list it here.")
		@DisplayQA("When do I search for an instrument?", "Do you need to find an instrument in order to practice? If so, you should search for an instrument.")
		@DisplayQA("When do I submit an instrument?", "Do you know of an instrument available to the public, such as one in a bar, or do you have one at home? If so, you should submit the instrument.")
		@DisplayQA("Is it safe?", "While we cannot make assurances as to the safety of transactions and the legitimacy of listings, using common sense should provide a decent amount of safety. For example, if you see a listing in a very sketchy location, that might not be legitimate and warrants caution. Similarly, if you're listing your instrument, take care to watch whoever comes to play on it. Legato Network is not responsible for any damages incurred by use of the services.")
	@EndSection()

	@DisplaySection("Map")
		@DisplayQA("How do I find a compatible instrument?", "Answer")
		@DisplayQA("I want to limit my search to pianos only...", "Answer")
		@DisplayQA("What are overlays?", "Answer")
	@EndSection()
	
	@DisplaySection("Submit")
		@DisplayQA("How do I add an instrument?", "Answer")
		@DisplayQA("What is Markdown?", "Answer")
		@DisplayQA("What are these different instrument classes?", "Answer")
	@EndSection()
	
	@DisplaySection("Listings")
		@DisplayQA("What do these ratings mean?", "Answer")
		@DisplayQA("Now that I've found a cool instrument, how do I arrange a playing session?", "Answer")
	@EndSection()
	
	@DisplaySection("Reviews")
		@DisplayQA("Now that I've played on an instrument, how do I submit a review?", "Answer")
		@DisplayQA("What do I write in a review?", "Answer")
	@EndSection()
	
	@DisplaySection("Notifications")
		@DisplayQA("How do I check my notifications?", "Answer")
	@EndSection()
	
	@DisplaySection("Messages")
		@DisplayQA("How do I view conversations?", "Answer")
		@DisplayQA("How do I compose a message?", "Answer")
		@DisplayQA("How do I reply to a message?", "Answer")
	@EndSection()
	
	@DisplaySection("Other")
		@DisplayQA("How do I contact Legato?", "Visit our " + Html.ActionLink("Contact Us page", "Contact", "Home") + ".")
		@DisplayQA("What's the answer to Life, The Universe, and Everything?", "42.")
	@EndSection()
	
</section>