@{
	ViewBag.Title = "About Us";
	ViewBag.revNum = Legato.Current.RevNumber();
	var revNum = ViewBag.revNum;
	ViewBag.sectionNum = 0;
	ViewBag.countNum = 0;
}
	@helper NewSection()
	{
		/* see http://weblogs.asp.net/jgalloway/archive/2011/03/23/comparing-mvc-3-helpers-using-extension-methods-and-declarative-razor-helper.aspx and http://weblogs.asp.net/scottgu/archive/2011/05/12/asp-net-mvc-3-and-the-helper-syntax-within-razor.aspx*/
		ViewBag.sectionNum++;
		ViewBag.countNum = 0;
	}
	@helper NewQ()
	{
		ViewBag.countNum++;
	}
	@helper GetNum()
	{
		var x = "f."+ViewBag.sectionNum+"."+ViewBag.countNum;
		@x
	}
	@helper DisplayQA(string question, string answer)
	{
		@NewQ()
		<h4 id="@GetNum()">@HtmlUtilities.RenderHtmlInRazor(question)</h4>
		<p>@HtmlUtilities.RenderHtmlInRazor(answer)</p>
	}
	@helper DisplaySection(string title)
	{
		@NewSection() <h2 id="@GetNum()">@HtmlUtilities.RenderHtmlInRazor(title)</h2>
	}
	@helper EndSection()
	{
		<text><hr/></text>
	}

@section HeadContent {
	<link href="/static/css/bootstrap.additions.css?@revNum" rel="stylesheet">
		<style type="text/css">
	  body {
		padding-top: 0px;
	  }
	</style>
}

@section BetweenHeaderAndContent {

<!-- Masthead (blueprinty thing)
	================================================== -->
	<header class="jumbotron masthead" style="position:relative; top: 0px; left: 0px; width=100%; " id="overview">
	  <div class="inner">
		<div class="container">
		  <h1>Legato Network</h1>
		  <p class="lead">
			Are you looking for an instrument in a new place? Do you have an instrument sitting around, unused?<br />That's where Legato Network comes in.<br />
		  </p>
		  <p>&nbsp;</p>
		</div><!-- /container -->
	  </div>
	</header>

}
<section id="faq">

	<div class="page-header">
		<h1>FAQ <small>Frequently asked questions</small></h1>
	</div>
	@DisplaySection("General")
		@DisplayQA("What's the point of Legato Network?", "Legato Network is here to connect musicians with instruments. If you're travelling or are somewhere without your instrument, now you can find one to play on. These instruments can either be directly available to the public, such as if they're in a bar, or they can be privately owned and listed. If you have an instrument at home, you can list it here.")
		@DisplayQA("When do I search for an instrument?", "Do you need to find an instrument in order to practice? If so, you should search for an instrument.")
		@DisplayQA("When do I submit an instrument?", "Do you know of an instrument available to the public, such as one in a bar, or do you have one at home? If so, you should submit the instrument.")
		@DisplayQA("Is it safe?", "While we cannot make assurances as to the safety of transactions and the legitimacy of listings, using common sense should provide a decent amount of safety. For example, if you see a listing in a very sketchy location, that might not be legitimate and warrants caution. Similarly, if you're listing your instrument, take care to watch whoever comes to play on it. Legato Network is not responsible for any damages incurred by use of the services.")
		@DisplayQA("Do I need to register to be able to use Legato Network?", "You can browse Legato Network without registering. If you want to list an instrument or message the owner of an sintrument, however, you need to "+Html.ActionLink("create an account", "Login", "Account", new { ReturnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery })+".")
		@DisplayQA("Is it free?", "Creating an account on Legato Network is completely free of charge. However, some instrument owners might request fees in exchange for permission to play on their instrument.")
	@EndSection()

	@DisplaySection("Map")
		@DisplayQA("How do I find a compatible instrument?", "First, "+Html.ActionLink("open the map", "Map", "Instruments")+". Next, pan the map to your location, or enter an address into the box at the top. All available instruments in the area should be visible. Click on an instrument marker to see more details.")
		@DisplayQA("How can I limit my search to pianos only?", "On "+Html.ActionLink("the map page", "Map", "Instruments")+", start typing 'Piano' or another instrument type into the search box. A menu with auto-completed results will appear. Click on the name of the instrument you want to find to display only that kind of instrument. You can then zoom into a region by typing an address into the same box and hitting 'Enter'. To remove the filter and display all instruments again, type in 'All' and click the auto-completed result.")
		@{/*DisplayQA("What are overlays?", "Overlays are the different markers and icons displayed on the map. For now, overlays include only instrument markers. By opening the Overlays window from the bottom bar of "+Html.ActionLink("the map page", "Map", "Instruments")+", you can change marker size and instrument type filters.")*/}
	@EndSection()
	
	@DisplaySection("Submit")
		@DisplayQA("How do I add an instrument?", "To add an instrument to Legato Network, fill out the "+Html.ActionLink("Submit form", "Submit", "Instruments")+".")
		@{/*DisplayQA("What is Markdown?", "Markdown is the syntax that our editors use. It is sufficient to use the toolbar to control formatting, but if you wish to write Markdown manually, see <a href=\"http://daringfireball.net/projects/markdown/syntax\">the official Markdown syntax manual</a>.")*/}
		@DisplayQA("What are these different instrument availability classes?", "To submit an instrument, you must choose one of two instrument availability classes: 'A public instrument' or 'My own instrument'. If you know of an instrument that is available for use but you don't own it, it is 'a public instrument'. If you own an instrument and wish to list it, it falls under 'my own instrument'. <br/> <b>Examples: </b> If you find a piano in a bar that people can play on, list it as 'a public instrument'. If you have a piano at home and you want to list it, select 'my own instrument'.")
		@DisplayQA("Can I keep my address hidden?", "Sure! If you're submitting an instrument in the category 'My own instrument', simply choose 'Display neighborhood only' in the Availability dropdown box on the Submit page. This will display on your neighborhood, instead of your full address. For example, the address <code>1 Main Street, New York, NY 10044</code> would instead be shown as <code>New York, NY 10044</code>. You can later choose to share your full address with specific users who request to play on your instrument.")
	@EndSection()
	
	@DisplaySection("Listings")
		@DisplayQA("What should listing text be about?", "In listing text, give <b>some general information</b> about this instrument, such as what kind of instrument it is, where it is located, when it is available, and what venue it is in.");
		@DisplayQA("Now that I've found a cool instrument, how do I arrange a playing session?", "On the listing page, look for a 'message owner' button. If you find it, that means that the instrument has been listed by its owner. To arrange a playing session on such an instrument, click on 'message owner' and send a message to the owner, so that you can arrange a time with the owner via private message. You will get a notification when the owner writes back. If no 'message owner' button exists, the instrument is available for public use and was listed by someone other than its owner. Check the description for availability details, and stop by during the day to see if the instrument is available.")
	@EndSection()
	
	@DisplaySection("Reviews")
		@DisplayQA("What do these ratings mean?", "Ratings are arbitrary measures of instrument quality. When users play on an instrument (other than their own), they are allowed to submit a review to the site. In the review, they select a rating out of 5 stars that represents how they felt about the instrument. A rating of 5 stars represents a great instrument, while a rating of 1 star represents a horrible instrument.")
		@DisplayQA("Now that I've played on an instrument, how do I submit a review?", "Return to the instrument's listing page and click 'Add a Review'. Fill out the form with details and thoughts about your playing session.")
		@DisplayQA("What do I write in a review?", "First, rank the instrument out of 5 stars, where 5 stars means 'great' and 1 star means 'horrible'. Next, write a message where you describe why you chose that rating and provide other details about your playing session.")
		@DisplayQA("What should review text be about?", "In review text, please give <b>your opinion</b> about this instrument, including how playing on it felt, whether the location and owner were hospitable, the quality of the instrument and venue, and other details about your experience. In other words, <b>tell us your story</b>.")
	@EndSection()
	
	@DisplaySection("Notifications")
		@DisplayQA("How do I check my notifications?", "In the navigation bar, after logging in, open the right-hand dropdown with your username and "+Html.ActionLink("click Notifications","List", "Notifications")+".")
	@EndSection()
	
	@DisplaySection("Messages")
		@DisplayQA("How do I view conversations?", "In the navigation bar, open the Messages dropdown and "+Html.ActionLink("click Conversations", "List", "Messages")+". Next, select a conversation from the list that appears, and the thread of messages will open.")
		@DisplayQA("How do I compose a message?", "In the navigation bar, open the Messages dropdown and "+Html.ActionLink("click Compose", "Compose", "Messages")+". Enter your message in the Markdown editor that appears, enter the recipient's username, enter a subject, and send your message.")
		@DisplayQA("How do I reply to a message?", "Open the message thread from "+Html.ActionLink("the Conversations screen", "List", "Messages")+". Next, scroll to the bottom and type your reply in the Markdown editor. When you're ready, submit it.")
	@EndSection()
	
	@DisplaySection("Other")
		@DisplayQA("How do I contact Legato Network?", "Visit our " + Html.ActionLink("Contact Us page", "Contact", "Home") + ".")
		@{/*DisplayQA("What's the answer to Life, The Universe, and Everything?", "42.")*/}
	@EndSection()
	
</section>