@model Legato.ViewModels.ContactViewModel
@using MvcReCaptcha.Helpers;

@{
	ViewBag.Title = "Contact";
	ViewBag.revNum = Legato.Current.RevNumber();
}

<section class="NavContent">
	<div class="LMidBlock">
	  <p class="TopHdg"><span class="about">about us</span></p>
	  <ul>
		<!--<li class="IconBasics"><a href="about" class="act" title="the basics">THE BASICS</a>
		  <ul>
			<li><a href="about" title="About">About</a></li>
			<li><a href="about/FAQ" title="FAQ">FAQ</a></li>
			<li><a href="about/contact" title="Advisors">Advisors</a></li>
			<li><a href="investors.html" title="Investors">Investors</a></li>
		  </ul>
		</li>-->
		<li><a href="/About" class="IconBasics" title="About">ABOUT</a></li>
		<li><a href="/About/FAQ" class="iconFaqs" title="FAQ">FAQ</a></li>
		<!--<li><a href="careers.html" class="iconCareers iconPress" title="CAREERS">CAREERS</a></li>-->
		<li><a href="/About/Contact" class="iconContact" title="CONTACT US">CONTACT US</a>
		</li>
	  </ul>
	</div>
	
	<!-- Left section --></section>
  <section class="ContentWrapper">
	<div class="ContentRpt">
	  <div class="ContentTop">
		<div class="ContentBtm">
		  <h1 class="contentHeaderText">Contact Us</h1>
		  <article class="networkBox">
			<section class="contentMain">
				<p>Please fill out this form to contact Legato Network.</p>
			  @using (Html.BeginForm("ContactSubmit","Home")) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Contact Us</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Email)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Message)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Message)
			@Html.ValidationMessageFor(model => model.Message)
		</div>

		<p>
			<label for="CAPTCHA">Verification word(s):</label>
			@(new HtmlString(Html.GenerateCaptcha())) <!-- html encoding bugfix http://stackoverflow.com/questions/3665982/decoding-html-in-asp-net-mvc-3/3668620#3668620 -->
			@Html.ValidationMessage("CAPTCHA")
		</p>

		<p>
			<input type="submit" value="Send" />
		</p>
	</fieldset>
}
			</section>
			<!-- network article --></article>
		</div>
	  </div>
	</div>
	
	<!-- Right section --></section>

<h2>Contact</h2>

@section ScriptContentAtEndOfBody
{

<script src="@Url.Content("~/static/js/jquery.validate.min.js")?@ViewBag.revNum" type="text/javascript"></script>
<script src="@Url.Content("~/static/js/jquery.validate.unobtrusive.min.js")?@ViewBag.revNum" type="text/javascript"></script>

} 
  