@model Legato.ViewModels.ContactViewModel
@using MvcReCaptcha.Helpers;

@{
	ViewBag.Title = "Contact";
	ViewBag.revNum = Legato.Current.RevNumber();
}

<section id="content">
<div class="page-header">
		<h1>Contact Us <small>Want to get in touch?</small></h1>
	</div>
	<div class="row">
	<div class="span16">
	

			  @using (Html.BeginForm("ContactSubmit","Home")) {
	@Html.ValidationSummary(true)
	<fieldset>

		<div class="clearfix">
			@Html.LabelFor(model => model.Name)
		<div class="input">
			@Html.TextBoxFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div></div>

		<div class="clearfix">
			@Html.LabelFor(model => model.Email)
		<div class="input">
			@Html.TextBoxFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div></div>

		<div class="clearfix">
			@Html.LabelFor(model => model.Message)
		<div class="input">
			@Html.TextAreaFor(model => model.Message)
			@Html.ValidationMessageFor(model => model.Message)
		</div></div>

		<p>
			<label for="CAPTCHA">Verification word(s):</label>
			@(Legato.Helpers.HtmlUtilities.RenderHtmlInRazor(Html.GenerateCaptcha()))
			@Html.ValidationMessage("CAPTCHA")
		</p>

		<p>
			<input type="submit" class="btn primary large" value="Send" />
		</p>
	</fieldset>
}

</div>
</div>
</section>


@section ScriptContentAtEndOfBody
{

<script src="@Url.Content("~/static/js/jquery.validate.min.js")?@ViewBag.revNum" type="text/javascript"></script>
<script src="@Url.Content("~/static/js/jquery.validate.unobtrusive.min.js")?@ViewBag.revNum" type="text/javascript"></script>

} 
  