@{
	ViewBag.Title = "Home Page";
	ViewBag.revNum = Legato.Current.RevNumber();
}

@section BetweenHeaderAndContent {
<div class="hero-unit hero-section" id="heroheader">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="ac">Instruments galore.</h1>
			</div>
		</div>
		<ul class="thumbnails" style="margin-top:+20px;">
			<li class="span4">
				<a href="#" class="thumbnail">
					<img src="http://i.imgur.com/TVWNE.png" alt="" /> <!-- http://placehold.it/360x268 -->
				</a>
			</li>
			<li class="span4">
				<a href="#" class="thumbnail">
					<img src="http://i.imgur.com/JEY9p.png" alt="" />
				</a>
			</li>
			<li class="span4">
				<a href="#" class="thumbnail">
					<img src="http://i.imgur.com/ZeoiA.png" alt="" />
				</a>
			</li>
		</ul>
		<div class="row">
			<h3 class="span4 ac"><a href="#">Browse the map.</a></h3>
			<h3 class="span4 ac"><a href="#">Find an instrument.</a></h3>
			<h3 class="span4 ac"><a href="#">Submit an instrument.</a></h3>
		</div>
		<div class="row">
			<div class="span5 offset4 ac">
				@Html.Partial("SocialButtons", "class=\"social_centered\"")
			</div>
		</div>
	</div>
</div>
}

	  <!-- Main hero unit for a primary marketing message or call to action -->
	  <div class="well hero-unit">
		<div class="row">
			<div style="text-align: center;"> <!-- <div class="span12"> -->
				<h1>Connecting instruments to musicians around the world.</h1>
				<p class="hero">Legato Network is here to help you <b>find an instrument</b> to play on or to <b>find others to play</b> on your instrument.</p>
				<p class="hero"><a class="btn btn-primary btn-xlarge" href="@Url.Action("Map", "Instruments")">See instruments &raquo;</a></p>
			</div>
		</div>
	  </div>

	  <!-- Example row of columns -->
	  <div class="row">
		<div class="span4">
		  <h2>Find</h2>
		  <p>Looking for an instrument to play or practice on?</p>
		  <p><a class="btn" href="@Url.Action("Map", "Instruments")">Find an instrument &raquo;</a></p>
		</div>
		<div class="span4">
		  <h2>Submit</h2>
		   <p>Know of an instrument that is available to play? Can you offer your own for others to play?</p>
		  <p><a class="btn" href="@Url.Action("Submit", "Instruments")">Submit an instrument &raquo;</a></p>
	   </div>
		<div class="span4">
		  <h2>How It Works</h2>
		  <p>Confused about how Legato Network works? Want to find out more?</p>
		  <p><a class="btn" href="@Url.Action("About", "Home")">Read our FAQ &raquo;</a></p>
		</div>
	  </div>